.container {
    max-width: 65vw;
    max-height: 75vh;
    justify-content: center;
    margin: auto;
}

.chat-list {
    width: 100%;
    height: 65vh;
    margin: 5px;
}

.chat-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    margin: 5px;
}

.chat-card-content {
    flex-grow: 1;
    overflow: auto;
}

.chat-card-actions {
    display: flex;
    height: 46px;
}

.chat-card-input {
    flex-grow: 1;
}

.chat-card-send {
    width: 15%;
}

.chat-header-avatar {
    background-image: url('https://picsum.photos/seed/picsum/200');
    background-size: cover;
}

.chat-list-avatar {
    background-image: url('https://picsum.photos/seed/picsum/70');
    background-size: cover;
}

.chat-list-item {
    display: inline-block;
}

.mat-list-item-content {
    padding: 0 !important;
    margin-left: -16px;
}