<div style="justify-content: center;">
    <mat-grid-list class='container' cols="4">
        <mat-grid-tile class='chat-list' rowspan="1" colspan="1">
            <mat-card class='chat-list'>
                <mat-card-header>
                    <mat-card-title>Chat List</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item class="mat-list-item-content">
                            <div mat-list-icon class="chat-list-avatar"></div>
                            <div mat-line>Rohit Bhaskar</div>
                            <div mat-line style="font-size: 9pt; padding-top: 2px;">Hey!</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item class="mat-list-item-content">
                            <div mat-list-icon class="chat-list-avatar"></div>
                            <div mat-line>Tanay Shah</div>
                            <div mat-line style="font-size: 9pt; padding-top: 2px;">Frappe is up!</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class='chat-card' rowspan="1" colspan="3">
            <mat-card class='chat-card'>
                <mat-card-header>
                    <div mat-card-avatar class="chat-header-avatar"></div>
                    <mat-card-title>Himanshu</mat-card-title>
                    <mat-card-subtitle>Mentor</mat-card-subtitle>
                </mat-card-header>
                <mat-divider style="margin: 12px 0px; margin-top: 0px; position: relative;"></mat-divider>
                <mat-card-content class='chat-card-content'>

                </mat-card-content>
                <mat-card-actions class='chat-card-actions'>
                    <mat-form-field appearance="fill" class='chat-card-input'>
                        <input matInput autocomplete="off">
                    </mat-form-field>
                    <button mat-raised-button type="submit" color="primary" class='chat-card-send' (click)='callChatService()'>Send</button>
                </mat-card-actions>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>